@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Mono:wght@300;400;700&family=Space+Mono:wght@400;700&display=swap');

* {
	background-color: #151516;
	font-family: 'Space Mono', monospace;
	--primary: #5828e5;
	--secondary: #f7e200;
	--green: #00c9a7;
	--white: #fff;
	--black: #000;
	--light-purple: #9672FF;

}

/* CSS Animations */

html {
	scroll-behavior: smooth;
}

.hidden {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 1.5s;
}


/* Scroll Bar Styles */
html {
	--scrollbarBG: var(--primary);
	--thumbBG: var(--white);
      }
      body::-webkit-scrollbar {
	width: 15px;
      }
      body {
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
      }
      body::-webkit-scrollbar-track {
	background: var(--scrollbarBG);
      }
      body::-webkit-scrollbar-thumb {
	background-color: var(--thumbBG) ;
	border-radius: 6px;
	border: 3px solid var(--scrollbarBG);
      }

/* Navigation Styles */

header {
	position: sticky;
	top: 0px;
	margin-top: .5rem;
	padding: 1.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	z-index: 1;
}

.logo a {
	font-size: 2.5rem;
	font-weight: 700;
	font-family: 'Space Mono', monospace; 
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

nav {
	display: flex;
	align-items: center;
}

nav ul {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 80px;
	left: -100%;
	text-align: center;
	transition: all .5s;
}

nav ul li {
	display: inline;
	text-align: center;
}

nav ul li a {
	display: block; 
	text-align: center;
	text-decoration: none;
	color: var(--primary);
	font-family: 'Space Mono', monospace; 
	font-size: 20px;
	margin: 50px;
	cursor: pointer;
}

nav ul li a:hover {
	color: var(--white);
	transition: color .5s ease-in;
	transition: background .8s ease;
}


nav ul.show {
	/* added */
	left: 0;
}

.menu{
	height: 0;
	overflow: hidden;
	transition: height 0.3s;
      }
      
.open{
	height: 295px;
      }

/* Mobile Toggle Navigation */ 

nav {
	
	position: relative;
}

nav a {
	padding: 14px 16px;
	display: block;
}








/* Mobile Hamburger Menu */
.menu-btn {
	position: relative;
	/* top: 30px;
	right: 125px; */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: all .5s ease-in-out;
}

.menu-btn_burger {
	width: 50px;
	height: 6px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
	transition: all .5s ease-in-out;
}

.menu-btn_burger::before, .menu-btn_burger::after {
	content: "";
	position: absolute;
	width: 40px;
	height: 6px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
	transition: all .5s ease-in-out;
}

.menu-btn_burger::before {
	transform: translateY(-16px);
}

.menu-btn_burger::after {
	transform: translateY(16px);
}

/* Menu Animation */
.menu-btn.open .menu-btn_burger {
	transform: translateX(-50px);
	background: transparent;
	box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before {
	transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_burger::after {
	transform: rotate(-45deg) translate(35px, 35px);
} 

/* Section Background & Section Headers */

section{
	min-height: 100vh;
	padding: 1.5rem;
}

section:not(:first-child) {
	display: grid;
	justify-content: center;
	place-items: center;
	align-content: center;
	min-height: 100vh;
	text-align: center;
}

h2 {
	text-align: center;
	font-size: calc(1.325rem + .9vw);
	margin-bottom: 2rem;
	color: var(--primary);
}


/* Hero Section */
.hero-container {
	padding-top: 10rem;
}

h1 {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	font-family: 'Space Mono', monospace;
	font-size: calc(1.375rem + 1.5vw);
	color: var(--white);
}


h1 span {
	font-family: 'Montserrat', sans-serif;
	font-size: 75px;
	font-weight: 700;
	color: var(--primary);
}

p {
	color: var(--white);
	margin-bottom: 1rem;
}

.typed-out {
	color: gray;
	overflow: hidden;
	border-right: .15em solid yellow;
	white-space: nowrap;
	font-size: 1rem; 
	width: 0;
	height: 2em;
	animation: 
		typing 3s steps(25, end) forwards,
		blink .8s infinite;
}

.typewriter {
	display: inline-block;
}

@keyframes typing {
	from {width: 0}
	to {width: 100%}
}

@keyframes blink {
	from {border-color: transparent}
	to {border-color: yellow;}
}

.hireme-btn, .resume-btn, #clear, #submit {
	padding: 1rem 1rem;
	border: 4px solid transparent;
	font-size: .8rem;
	cursor: pointer;
	text-decoration: none;
}

.cta-btns {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.hireme-btn {
	margin-right: 1rem;
}

.hireme-btn {
	color: var(--black);
	background-color: var(--white);
}

.hireme-btn a {
	background-color: var(--white);
	text-decoration: none;
	color: black;
}



.hireme-btn:hover, .hireme-btn a:hover {
	color: var(--white);
	background-color: var(--primary);
	transition: all .1s ease-in;

}

.resume-btn, #clear {
	border: 4px solid var(--secondary);
	background-color: transparent;
	color: var(--white);
}

.resume-btn:hover, #clear:hover {
	color: var(--white);
	background-color: var(--primary);
	border: 4px solid var(--primary);
	transition: all .1s ease-in;
}

/* About Me Section */

.profile-img {
	border-radius: 30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3rem;
	width: 200px;
	text-align: center;
}



/* Skills Section */

.skills-container {
	width: 70%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	
}

.skills-list {
	color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 20%;
	border: 2px solid var(--secondary) ;
	padding: 1rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
	text-align: center;
}

.skills-list:hover {
	background-color: var(--primary);
	border-color: var(--white);
	transition: all 0.3s;
}


/* Portfolio Section */

.cards {
	padding: 1.5rem;
	max-width: 31.25rem;
	max-height: 35rem;
	border-radius: 10px;
	margin-bottom: 5rem;
	transition: transform 300ms ease;
	
} 

.cards, .card-title, .card-text, .card-content {
	background-color: var(--black);
	
}

.cards:hover {
	transform: scale(1.05);
} 

img {
	max-width: 100%;
}

.card-title {
	margin-bottom: 0;
	color: var(--white);
	font-size: 16px;
}

.card-content {
	/* padding-bottom: 4rem; */
	
}


.card-title, .card-text {
	padding-top: 1.5rem;
}

.card-text {
	margin-bottom: 3rem;
}

.overlay-text {
	position: relative;
	top: -180px;
}

strong {
	color: var(--secondary);
	background-color: black;
	font-size: 14px;
}

.button {
	margin-top: 2rem;
	
}

.button, #submit {
	
 	padding: 1rem;
	text-decoration: none;
	background-color: var(--white);
	color: var(--black);
	
}

a.button:hover, #submit:hover {
	background-color: var(--primary);
	color: white;
	transition: all .3s;
}

.cropped {
width: 400px; 
height: 400px; 
text-align: center;
object-fit: cover;
}

/* Contact Me Section */
.form-container {
	color: var(--white);

}

form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

label {
	margin-bottom: .75rem;
}


#name, #email, #message {
	width: 100%;
	margin-bottom: 2rem;
	padding: 3px;
	color: var(--white);
}

input:focus, textarea:focus {
	outline-color: var(--primary);
}

#submit {
	color: var(--black);
}

/* Footer Section */
footer {
	text-align: center;
	padding: 2rem;
}

svg {
	width: 50px;
	height: 50px;
	margin-bottom: 1rem;
	cursor: pointer;
}



/* Media Queries */

@media(prefers-reduced-motion) {
	.hidden {
		transition: none;
	}
}

@media (min-width: 768px) {

	h1 span {
		font-size: calc(4.68rem + 2vw);
	}

	.hero-title, .typed-out {
		padding-top: .5rem;
		font-size: calc(1rem + .3vw);
		
	}

	.menu-btn {
		display: none;
	}

	nav ul {
		top: 0;
		left: 0;
		display: flex;
		position: relative;
		height: 1%;
		padding-left: 0px;
		margin-bottom: 0px;
	}

	nav ul li a {
		margin: 0px;
	}

	.hero-container {
		text-align: center;
	}

	.cta-btns {
		justify-content: center;
		margin-top: 1.5rem;
	}

	.about-text {
		font-size: calc(1rem + .2vw);
		max-width: 1000px;
	}

	.projects {
		display: flex;
		gap: 4rem;
		width: 100%;
		flex-wrap: wrap;
		justify-content: center;
	}

	.form-container {
		width: 600px;
	}
	
	
}


@media (min-width: 1024px) {

	h1 span {
		font-size: calc(6rem + 2vw);
	
		
	}
	
	
}