@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Mono:wght@300;400;700&family=Space+Mono:wght@400;700&display=swap');

* {
	background-color: #151516;
	/* font-family: 'Roboto Mono', monospace; */
	font-family: 'Space Mono', monospace;
	/* font-family: 'Montserrat', sans-serif; */
	--primary: #5828e5;
	--secondary: #f7e200;
	--green: #00c9a7;
	--white: #fff;
	--black: #000;
	--light-purple: #9672FF;

}

/* CSS Animations */

html {
	scroll-behavior: smooth;
}

.hidden {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 1.5s;
}

.show {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
}

/* Navigation Styles */

header {
	position: sticky;
	top: 0px;
	padding: 1.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo a {
	font-size: 2.5rem;
	font-weight: 700;
	font-family: 'Space Mono', monospace; 
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

.right-nav {
	display: flex;
}

nav {
	display: flex;
	align-items: center;
}

nav ul li {
	display: inline;
	text-align: center;
}

nav ul li a {
	text-align: center;
	text-decoration: none;
	color: var(--primary);
	font-family: 'Space Mono', monospace; 
	font-size: 20px;
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}

nav ul li a:hover {
	color: var(--white);
	transition: color .5s ease-in;
}

.active {
	color: var(--white);
}

/* Mobile Hamburger Menu */

.menu-btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: all .5s ease-in-out;
}

.menu-btn_burger {
	width: 50px;
	height: 6px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
	transition: all .5s ease-in-out;
}

.menu-btn_burger::before, .menu-btn_burger::after {
	content: "";
	position: absolute;
	width: 40px;
	height: 6px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
	transition: all .5s ease-in-out;
}

.menu-btn_burger::before {
	transform: translateY(-16px);
}

.menu-btn_burger::after {
	transform: translateY(16px);
}

/* Menu Animation */
.menu-btn.open .menu-btn_burger {
	transform: translateX(-50px);
	background: transparent;
	box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before {
	transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_burger::after {
	transform: rotate(-45deg) translate(35px, 35px);
}

/* Section Background & Headers */

section{
	min-height: 100vh;
	padding: 3rem;
}

section:not(:first-child) {
	display: grid;
	place-items: center;
	align-content: center;
	min-height: 100vh;
	text-align: center;
}

/* section:not(:first-child) {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

section:nth-child(2) {
	background-color: var(--white);
	color: var(--primary);
}

section:nth-child(3) {
	background-color: #151516;
	color: var(--primary);
}

section:nth-child(4) {
	background-color: var(--white);
	color: var(--black);
}

section:nth-child(5) {
	background-color: #151516;
	color: var(--primary);
} */

h2 {
	margin-bottom: 2rem;
	text-align: center;
	font-size: 4rem;
	color: var(--primary);
	
}

p {
	color: var(--white);
}


/* Hero Section */
.hero-container {
	margin-top: 10rem;
}

h1 {
	font-family: 'Space Mono', monospace;
	font-size: 70px;
	color: var(--white);
}

h1 span {
	font-family: 'Montserrat', sans-serif;
	font-size: 115px;
	font-weight: 700;
	color: var(--primary);
}

.typed-out {
	color: gray;
	overflow: hidden;
	border-right: .15em solid yellow;
	white-space: nowrap;
	font-size: 1.5rem;
	width: 0;
	animation: 
		typing 3s steps(25, end) forwards,
		blink .8s infinite;
}

.typewriter {
	display: inline-block;
}

@keyframes typing {
	from {width: 0}
	to {width: 100%}
}

@keyframes blink {
	from {border-color: transparent}
	to {border-color: yellow;}
}

button {
	padding: 1em 3rem;
	margin-top: 2rem;
	margin-right: 1rem;
	border: 4px solid transparent;
	/* border-radius: .5rem; */
	font-size: 1rem;
	cursor: pointer;
}

.hireme-btn, .resume-btn {
	color: var(--black);
	background-color: var(--white);
}

.hireme-btn:hover {
	color: var(--white);
	background-color: var(--primary);
}

.resume-btn {
	border: 4px solid var(--secondary);
	background-color: transparent;
	color: var(--white);
}

.resume-btn:hover {
	color: var(--white);
	background-color: var(--primary);
	border: 4px solid var(--primary);
}

/* About Me Section */

.profile-img {
	border-radius: 30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3rem;
	width: 200px;
	text-align: center;
}





/* Media Queries */
@media(prefers-reduced-motion) {
	.hidden {
		transition: none;
	}
}
