@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Mono:wght@300;400;700&family=Space+Mono:wght@400;700&display=swap');

* {
	background-color: #151516;
	/* font-family: 'Roboto Mono', monospace; */
	font-family: 'Space Mono', monospace;
	/* font-family: 'Montserrat', sans-serif; */
	--primary: #5828e5;
	--secondary: #f7e200;
	--green: #00c9a7;
	--white: #fff;
	--black: #000;
	--light-purple: #9672FF;

}

/* CSS Animations */

html {
	scroll-behavior: smooth;
}

.hidden {
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 1.5s;
}


/* Scroll Bar Styles */
html {
	--scrollbarBG: var(--primary);
	--thumbBG: var(--white);
      }
      body::-webkit-scrollbar {
	width: 15px;
      }
      body {
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
      }
      body::-webkit-scrollbar-track {
	background: var(--scrollbarBG);
      }
      body::-webkit-scrollbar-thumb {
	background-color: var(--thumbBG) ;
	border-radius: 6px;
	border: 3px solid var(--scrollbarBG);
      }

/* Navigation Styles */

header {
	position: sticky;
	top: 0px;
	padding: 1.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo a {
	font-size: 2.5rem;
	font-weight: 700;
	font-family: 'Space Mono', monospace; 
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

nav {
	display: flex;
	align-items: center;
}

nav ul {
	/* added */
	position: fixed;
	width: 100%;
	height: 100vh;
	/* background: 151516; */
	top: 80px;
	left: -100%;
	text-align: center;
	transition: all .5s;
}

nav ul li {
	display: inline;
	text-align: center;
}

nav ul li a {
	display: block; /* added */
	text-align: center;
	text-decoration: none;
	color: var(--primary);
	font-family: 'Space Mono', monospace; 
	font-size: 20px;
	margin: 50px; /* added */

	/* margin-left: 5px;
	margin-right: 5px; */
	cursor: pointer;
}

nav ul li a:hover {
	/* background: var(--light-purple); */
	color: var(--white);
	transition: color .5s ease-in;
	transition: background .8s ease;
}

.active {
	color: var(--white);
}

nav ul.show {
	/* added */
	left: 0;
}

.menu{
	height: 0;
	overflow: hidden;
	transition: height 0.3s;
      }
      
.open{
	height: 295px;
      }

/* Mobile Toggle Navigation */ 

nav {
	
	position: relative;
}

#navlinks {
	/* display: none; */
	/* background: gray; */
}

nav a {
	padding: 14px 16px;
	display: block;
}

/* .offcanvas-menu {
	position: fixed;
	top: 0;
	right: 0;
	background: rgb(246, 0, 0);
	width: 30vw;
	height: 100vh;
	display: flex;
	align-items: center;
	transform: translateX(100%); 
	transition: all .4s ease;
} */







/* Mobile Hamburger Menu */
.menu-btn {
	position: relative;
	/* top: 30px;
	right: 125px; */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: all .5s ease-in-out;
}

.menu-btn_burger {
	width: 50px;
	height: 6px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
	transition: all .5s ease-in-out;
}

.menu-btn_burger::before, .menu-btn_burger::after {
	content: "";
	position: absolute;
	width: 40px;
	height: 6px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(255, 101, 47, .2);
	transition: all .5s ease-in-out;
}

.menu-btn_burger::before {
	transform: translateY(-16px);
}

.menu-btn_burger::after {
	transform: translateY(16px);
}

/* Menu Animation */
.menu-btn.open .menu-btn_burger {
	transform: translateX(-50px);
	background: transparent;
	box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before {
	transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_burger::after {
	transform: rotate(-45deg) translate(35px, 35px);
} 

/* Section Background & Headers */

section{
	min-height: 100vh;
	padding: 3rem;
}

section:not(:first-child) {
	display: grid;
	place-items: center;
	align-content: center;
	min-height: 100vh;
	text-align: center;
}

/* section:not(:first-child) {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

section:nth-child(2) {
	background-color: var(--white);
	color: var(--primary);
}

section:nth-child(3) {
	background-color: #151516;
	color: var(--primary);
}

section:nth-child(4) {
	background-color: var(--white);
	color: var(--black);
}

section:nth-child(5) {
	background-color: #151516;
	color: var(--primary);
} */

h2 {
	/* margin-bottom: 3rem; */
	text-align: center;
	font-size: 4rem;
	color: var(--primary);
	
}

p {
	color: var(--white);
}


/* Hero Section */
.hero-container {
	padding-top: 10rem;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Space Mono', monospace;
	font-size: 70px; /* 115px for Desktop */
	color: var(--white);
}

h1 span {
	font-family: 'Montserrat', sans-serif;
	font-size: 75px;
	font-weight: 700;
	color: var(--primary);
}

.typed-out {
	color: gray;
	overflow: hidden;
	border-right: .15em solid yellow;
	white-space: nowrap;
	font-size: 1rem; /* 1.5rem for Desktop */
	width: 0;
	animation: 
		typing 3s steps(25, end) forwards,
		blink .8s infinite;
}

.typewriter {
	display: inline-block;
}

@keyframes typing {
	from {width: 0}
	to {width: 100%}
}

@keyframes blink {
	from {border-color: transparent}
	to {border-color: yellow;}
}

button {
	margin: 2rem 1rem 0 0;
	padding: 1rem 1rem;
	border: 4px solid transparent;
	/* border-radius: .5rem; */
	font-size: 1rem;
	cursor: pointer;
	
}

.cta-btns {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

.hireme-btn {
	margin-right: 1rem;
}

.hireme-btn, .resume-btn {
	color: var(--black);
	background-color: var(--white);
}

.hireme-btn:hover {
	color: var(--white);
	background-color: var(--primary);
}

.resume-btn {
	border: 4px solid var(--secondary);
	background-color: transparent;
	color: var(--white);
}

.resume-btn:hover {
	color: var(--white);
	background-color: var(--primary);
	border: 4px solid var(--primary);
}

/* About Me Section */

.profile-img {
	border-radius: 30%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3rem;
	width: 200px;
	text-align: center;
}

/* Skills Section */

.skills-container {
	width: 70%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	
}

.skills-list {
	color: var(--white);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 20%;
	border: 2px solid var(--secondary) ;
	padding: 1rem;
	margin-top: 2rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
	text-align: center;
}

.skills-list:hover {
	background-color: var(--primary);
	border-color: var(--white);
	transition: all 0.3s;
}


/* Portfolio Section */

.card {
	margin-bottom: 7rem;
}



/* Media Queries */

@media(prefers-reduced-motion) {
	.hidden {
		transition: none;
	}
}

@media (min-width: 768px) {

	.menu-btn {
		display: none;
	}

	nav ul {
		top: 0;
		left: 0;
		display: flex;
		position: relative;
		height: 1%;
		padding-left: 0px;
		margin-bottom: 0px;
	}

	nav ul li a {
		margin: 0px;
		/* padding: 24px 0; */
	}
	
	
}
